@font-face {
  font-family: 'Comfortaa';
  src: local('Comfortaa Bold'), local('Comfortaa-Bold'),
  url('../fonts/Comfortaa/comfortaabold.woff2') format('woff2'),
  url('../fonts/Comfortaa/comfortaabold.woff') format('woff'),
  url('../fonts/Comfortaa/comfortaabold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'),
  url('../fonts/Roboto/Roboto.woff2') format('woff2'),
  url('../fonts/Roboto/Roboto.woff') format('woff'),
  url('../fonts/Roboto/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
