%button{
    font-family: 'Comfortaa', sans-serif;
    color:$primary-text-color;
    background: $primary-button-color;
    border-radius: 13px;
    font-size: 14px;
    height: 25px;
    text-align: center;
    transform: scaleX(1.0002);
    border: 1px solid $primary-button-color;
    cursor: pointer;
    margin-bottom: 31px;
}
