.search-answer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 0 22px;
}

.search-answer__image{
    background: $background-image-color;
    width: 209px;
    height: 122px;
    position: relative;
    margin-bottom: 15px;

     &:not(:nth-child(4n)) {
         margin-right: 15px;
     }

    img {
      max-width: 100%;
      height: 100%;
    }
}

.btn_remove{
  width: 10px;
    height: 10px;
    position: absolute;
  background: transparent url(../images/close.png);
  outline: 0;
    border: 0;
    right: 5px;
    visibility: hidden;
    transition: transform .2s linear;

}
.search-answer:hover .btn_remove {
    visibility: visible;
}




.search-answer > h2 {
    width: 100%;
   text-align: left;
   margin-bottom: 15px;
   font-size: 16px;
   font-weight: normal;
   font-family: 'Roboto', sans-serif;
}
